aiogram
aiohttp
aiosignal
async-timeout
attrs
Babel
certifi
charset-normalizer
click
colorama
frozenlist
idna
libretranslatepy
lxml
magic-filter
multidict
python-dotenv
pytz
requests
translate
urllib3
yarl
